@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:wght@400;600;700;900&display=swap");
.header {
  background-color: #B4CFB0;
  padding: 30px;
  color: #789395;
}

.subHeader {
  background-color: #B4CFB0;
  width: 10%;
  min-height: 864px;
  color: #789395;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lista li {
  font-size: 20px;
  padding: 10px;
  text-align: left;
}

.main {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    font-size: 0.8rem;
    text-align: center;
  }

  .subHeader {
    display: none;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .subHeader {
    width: 25%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .subHeader {
    width: 20%;
  }
}
.btn-agregar {
  border: none;
  background-color: #94B49F;
}
.btn-agregar .fa-circle-plus {
  color: #94B49F;
  background-color: #fff;
}
.btn-agregar:hover {
  cursor: pointer;
}

.btn-cancelar {
  border: none;
  background-color: #94B49F;
}
.btn-cancelar .fa-circle-xmark {
  color: red;
  background-color: #94B49F;
}
.btn-cancelar:hover {
  cursor: pointer;
}

.btn-borrar {
  border: none;
}
.btn-borrar .fa-trash {
  color: red;
  background-color: #fff;
}
.btn-borrar:hover {
  cursor: pointer;
}

.btn-editar {
  border: none;
}
.btn-editar .fa-pen {
  color: #94B49F;
  background-color: #fff;
}
.btn-editar:hover {
  cursor: pointer;
}

.btn-ver {
  border: none;
}
.btn-ver .fa-eye {
  color: #94B49F;
  background-color: #fff;
}
.btn-ver:hover {
  cursor: pointer;
}

.btn-update {
  border: none;
  background-color: #94B49F;
}
.btn-update .fa-circle-arrow-up {
  color: #fff;
  background-color: #94B49F;
}
.btn-update:hover {
  cursor: pointer;
}

.btn_menu {
  background: none;
  border: none;
  font-size: 20px;
  color: #789395;
  font-weight: bold;
  width: 100%;
  text-align: left;
}
.btn_menu:hover {
  cursor: pointer;
}

.cursos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 0fr);
  width: 90%;
  margin: 10px;
  gap: 10px;
}

.agregar {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #B4CFB0;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 0;
}

.popup {
  height: 100vh;
  width: 100vw;
  background-color: rgba(104, 104, 104, 0.472);
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: -1;
}

.show {
  opacity: 1;
  z-index: 1;
}

.container {
  background-color: #94B49F;
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 2px solid #B4CFB0;
}
.container .ul_form_nuevoAlumno {
  list-style: none;
  margin: 10px 0;
  width: 80%;
}
.container .ul_form_nuevoAlumno .li_input {
  margin: 10px 0;
  text-align: center;
}
.container .ul_form_nuevoAlumno .li_input input {
  padding: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 100%;
}

.contenidoCursos {
  border: 1px solid green;
  width: 100%;
  height: 200px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.opciones {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.formNuevo {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
}
.formNuevo .input_form_nuevo {
  width: 80%;
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.div-alerta, .div-alerta-anio {
  background-color: red;
  color: white;
  border-radius: 10px;
  width: 80%;
}
.div-alerta .alerta, .div-alerta-anio .alerta {
  padding: 5px;
  text-align: center;
}

.div-alerta-alumno, .div-alerta-nuevoAlumno {
  background-color: red;
  color: white;
  border-radius: 10px;
}
.div-alerta-alumno .alerta, .div-alerta-nuevoAlumno .alerta {
  padding: 5px;
  text-align: center;
}

.margin {
  margin: 10px 0;
}

.mostrarAlumnos {
  overflow: auto;
}

.container-alumnos {
  background-color: #94B49F;
  width: 95%;
  max-height: 80%;
  border-radius: 15px;
  border: 2px solid #B4CFB0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-alumnos .info_alumno {
  display: grid;
  grid-template-columns: 300px 300px 100px 100px 100px 150px 120px;
  gap: 10px;
  padding: 20px;
  align-items: center;
}
.container-alumnos .info_alumno p {
  text-transform: uppercase;
  color: #FFF;
}
.container-alumnos .info_alumno p span {
  color: red;
}
.container-alumnos .info_alumno .btns__info__alumnos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.container-alumnos .info_alumno .btn-editar {
  background-color: #94B49F;
}
.container-alumnos .info_alumno .btn-editar .fa-pen {
  background-color: #94B49F;
  color: #FFF;
}
.container-alumnos .info_alumno .btn-cancelar {
  background-color: #94B49F;
}
.container-alumnos .btn-cancelar-alumnos {
  color: red;
  background-color: #94B49F;
  border: none;
  margin: 10px 0;
}
.container-alumnos .btn-cancelar-alumnos :hover {
  cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .cursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
  }

  .agregar {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
  }

  .container {
    width: 80%;
  }

  .container-alumnos {
    width: 95%;
    max-height: 100%;
    border-radius: 15px;
    overflow-y: scroll;
  }
  .container-alumnos .btns__info__alumnos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container-alumnos .mostrarAlumnos {
    width: 80%;
  }
  .container-alumnos .info_alumno {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 2px solid #fff;
    margin: 10px 0;
    border-radius: 5px;
  }

  #ordenar {
    display: flex;
    flex-direction: column;
  }
  #ordenar button {
    margin: 5px 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .cursos {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(4, 0fr);
    width: 90%;
    margin: 10px;
    gap: 10px;
  }
  .cursos .contenidoCursos {
    border: 1px solid green;
    width: 100%;
    height: 200px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }

  .container {
    width: 80%;
  }

  .container-alumnos {
    width: 95%;
    max-height: 90%;
    border-radius: 15px;
    overflow-y: scroll;
  }
  .container-alumnos .btns__info__alumnos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container-alumnos .mostrarAlumnos {
    width: 80%;
  }
  .container-alumnos .info_alumno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    margin: 10px 0;
    border-radius: 5px;
  }

  #ordenar {
    display: flex;
    flex-direction: column;
  }
  #ordenar button {
    margin: 5px 0;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1400px) {
  .cursos {
    grid-template-columns: repeat(3, 2fr);
  }

  .container {
    width: 80%;
  }

  .container-alumnos {
    width: 95%;
    max-height: 90%;
    border-radius: 15px;
    overflow-y: scroll;
  }
  .container-alumnos .btns__info__alumnos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container-alumnos .mostrarAlumnos {
    width: 80%;
  }
  .container-alumnos .info_alumno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    margin: 10px 0;
    border-radius: 5px;
  }

  #ordenar {
    display: flex;
    flex-direction: column;
  }
  #ordenar button {
    margin: 5px 0;
  }
}
.profesores {
  width: 90%;
  margin: 10px;
}
.profesores .profesores__content {
  border: 1px solid green;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  padding: 20px;
  margin: 10px 0;
  place-items: left;
}
.profesores .profesores__content span {
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", Helvetica, sans-serif;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
* ::-webkit-scrollbar {
  width: 10px;
  display: none;
}
* ::-webkit-scrollbar-track {
  background: #94B49F;
}
* ::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 50px;
}
* ::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0);
}

.hidden {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
