.btn-agregar{
    border: none;
    background-color: $color3;
    .fa-circle-plus{
        color: $color3;
        background-color: #fff;
    }
    &:hover{
        cursor: pointer;
    }
        
}
    
.btn-cancelar{
    border: none;
    background-color: $color3;
    .fa-circle-xmark{
        color: red;
        background-color: $color3;
    }
    &:hover{
        cursor: pointer;
    }
}

.btn-borrar{
    border: none;
    .fa-trash{
        color:red;
        background-color: #fff;
    }
    &:hover{
        cursor: pointer;
    }
}

.btn-editar{
    border: none;
    .fa-pen{
        color: $color3;
        background-color: #fff;
    }
    &:hover{
        cursor: pointer;
    }
}

.btn-ver{
    border: none;
    .fa-eye{
        color: $color3;
        background-color: #fff;
    }
    &:hover{
        cursor: pointer;
    }
}

.btn-update{
    border: none;
    background-color: $color3;
    .fa-circle-arrow-up{
        color: #fff;
        background-color: $color3;
    }
    &:hover{
        cursor: pointer;
    }
    
}

.btn_menu{
    background: none;
    border: none;
    font-size: 20px;
    color: $color4;
    font-weight: bold;
    width: 100%;
    text-align: left;
    &:hover{
        cursor: pointer;
    }

}