.header{
    background-color: $color2;
    padding: 30px;
    color: $color4;
}

.subHeader{
    background-color: $color2;
    width: 10%;
    min-height: 864px;
    color: $color4;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.lista{
    li{
        font-size: 20px;
        padding: 10px;
        text-align: left;
    }
}

.main{
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 320px) and (max-width: 480px){

    .header{
        font-size: .8rem;
        text-align: center;
    }

    .subHeader{
        display: none;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    .subHeader{
        width: 25%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1200px){
    .subHeader{
        width: 20%;
    }
}




