$color1: #E5E3C9;
$color2: #B4CFB0;
$color3: #94B49F;
$color4: #789395;
$blanco: #fff;
$negro: #000;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:wght@400;600;700;900&display=swap');

@import "./header";
@import "./botones";
@import "./cursos";
@import "./profesores";
@import "./materias";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', Helvetica, sans-serif;
    

    /* width */
  ::-webkit-scrollbar {
    width: 10px;
    display: none;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $color3;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $blanco;
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0);
  } 
}

.hidden{
  display: none;
}








